:root {
    --text-color: #73C87D;
    --background-color: #0B4612;
    --primary-color-light: #4FA85A;
    --primary-color: #30853A;
    --primary-color-dark: #1B6624;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: var(--text-color);
    text-shadow: -2px -2px 2px var(--primary-color-light);
    text-align: center;
    background-color: var(--background-color);
}

h1, h2 {
    margin: 5px;
    padding: 5px;
}

button,
input {
    font-family: inherit;
    font-weight: 700;
    font-size: 1.2rem;
    appearance: none;
    outline: none;
    color: inherit;
    text-shadow: -1px -1px 1px var(--primary-color-light);
    background-color: inherit;
    border: var(--primary-color-dark) solid 2px;
    box-shadow: -2px -2px 2px var(--primary-color-light);
    padding: 5px 10px;
    margin: 5px 20px;
}

label {
    margin: 5px 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

dialog::backdrop {
    background-color: var(--primary-color);
    opacity: 0.75;
}

dialog:modal {
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.2rem;
    color: inherit;
    background-color: inherit;
    border: 2px solid var(--primary-colour-dark);
    box-shadow: -2px -2px 2px var(--primary-colour-light);
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#gameDisplay {
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    margin: 0 100px;
    place-items: center;
}

.gameBoard {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    background-color: var(--primary-color);
    width: 500px;
    height: 500px;
}

.cell {
    padding: 10px;
    outline: var(--primary-color-dark) solid 2px;
}

.cell:active {
    background-color: var(--primary-color-dark);
}

#shipDisplay {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    padding: 10px;
    margin: 10px;
}

#changeDirection {
    position: relative;
    width: 80px;
    height: 40px;
    background-color: inherit;
    border: var(--primary-color-dark) solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
}

#changeDirection.active {
    background-color: var(--primary-color-dark);
    border: var(--primary-color) 2px solid;
}

.toggle {
    position: absolute;
    left: 0;
    width: 38px;
    height: 38px;
    background-color: var(--primary-color);
    border: var(--primary-color-dark) solid 2px;
    transition: 0.3s ease;
}

.active.toggle {
    left: 100%;
    transform: translateX(-100%);
    transition: 0.3 ease;
    background-color: var(--primary-color-light);
    border: var(--primary-color) 2px solid;
}

#Carrier,
#Battleship,
#Cruiser,
#Submarine,
#Destroyer {
    display: flex;
    padding: 0;
    margin: 10px;
    width: max-content;
    height: max-content;
    background-color: var(--primary-color);
    outline: var(--primary-color-dark) solid 2px;
    cursor: move;
}

.shipVertical {
    flex-direction: column;
}

.shipBody {
    height: 25px;
    width: 25px;
    padding: 10px;
    outline: var(--primary-color-dark) solid 2px;
}

.dragging {
    opacity: 0.5;
}
