:root {
    --text-color: #73C87D;
    --background-color: #0B4612;
    --primary-color-light: #4FA85A;
    --primary-color: #30853A;
    --primary-color-dark: #1B6624;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: var(--text-color);
    text-shadow: -1px -1px 2px var(--primary-color-light);
    text-align: center;
    background-color: var(--background-color);
}

header {
    flex: 0 0 auto;
}

main {
    flex: 1 0 auto;
    overflow-y: auto;
}

footer {
    flex: 0 0 auto;
}

h1, h2 {
    margin: 5px;
    padding: 5px;
}

button,
input {
    font-family: inherit;
    font-weight: 700;
    font-size: 1.2rem;
    appearance: none;
    outline: none;
    color: inherit;
    text-shadow: -1px -1px 2px var(--primary-color-light);
    background-color: inherit;
    border: var(--primary-color-dark) solid 2px;
    box-shadow: -2px -2px 2px var(--primary-color-light);
    padding: 5px 10px;
    margin: 5px 20px;
}

label {
    margin: 5px 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

dialog::backdrop {
    background-color: var(--primary-color);
    opacity: 0.75;
}

dialog:modal {
    display: block;
    outline: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.2rem;
    color: inherit;
    background-color: inherit;
    border: 2px solid var(--primary-colour-dark);
    box-shadow: -2px -2px 2px var(--primary-colour-light);
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#gameDisplay {
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    margin: 0 100px;
    place-items: center;
}

#enemyDisplay {
    display: none;
    grid-column: 2;
}

.gameBoard {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    background-color: var(--primary-color);
    width: 500px;
    height: 500px;
}

.cell {
    padding: 10px;
    outline: var(--primary-color-dark) solid 2px;
}

.cell:active {
    background-color: var(--primary-color-dark);
}

#shipDisplay {
    display: grid;
    grid-column: 2;
    grid-template-rows: repeat(6, 1fr);
    justify-items: start;
    padding: 10px;
    margin: 10px;
}
#shipDisplay.vertical {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 5fr;
}

#directionBtn {
    position: relative;
    width: 80px;
    height: 40px;
    background-color: inherit;
    border: var(--primary-color-dark) solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.directionToggle {
    position: absolute;
    left: 0;
    width: 38px;
    height: 38px;
    background-color: var(--primary-color);
    border: var(--primary-color-dark) solid 2px;
    transition: 0.3s ease;
}

.directionToggle.active {
    left: 100%;
    transform: translateX(-100%);
    transition: 0.3 ease;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 2.5fr);
    align-items: center;
}

.buttons.vertical {
    grid-column: 1 / 3;
}

#undoBtn {
    width: auto;
    height: 40px;
    grid-column: 2;
    margin: 5px 10px;
}

#Carrier,
#Battleship,
#Cruiser,
#Submarine,
#Destroyer {
    display: flex;
    padding: 0;
    margin: 10px 0;
    width: max-content;
    height: max-content;
    background-color: var(--primary-color);
    outline: var(--primary-color-dark) solid 2px;
    cursor: move;
}

.shipVertical {
    flex-direction: column;
    grid-row: 2;
}

.shipBody {
    height: 28px;
    width: 28px;
    padding: 10px;
    outline: var(--primary-color-dark) solid 2px;
}

.dragging {
    opacity: 0.5;
}
